<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
    <div class="form">
        <form th:action="@{/pessoas}" method="post" th:object="${pessoa}" >
            <input type="hidden" name="idpessoa" th:field="*{idpessoa}">

            <div class="row">
                <div class="col-lg-9 ">
                    <label for="">Nome:</label>
                    <input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}">
                </div>
                
            </div>

           <div class="row">
            <div class="col-lg-9 mb-5">
                <label for="">Email:</label>
                <input class="form-control" type="email" name="email" id="email" th:field="*{email}">
            </div>
           </div>

           <input class="btn btn-success" type="submit" value="Cadastrar">

        </form>
    </div>
   </div> 
</body>
</html>